* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.common {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: whitesmoke;
    margin: 0px;
}

.header {
    background-color: #1f285d;
    color: whitesmoke;
    text-align: Center;
    height: 100px;
    line-height: 100px;
    width: 100%;
}

.mainbody {
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 10px;
}

img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

ol, ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

ol li {
    font-weight: bold;
}

ul li {
    font-weight: normal;
}


nav {
    background-color: #1f285d;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    display: inline-block;
}

nav a:hover {
    background-color: #ccc;
}